# python
__pycache__/
*.pyc
.venv/
vh/
venv/
*.egg-info/

# datasets
data/raw/
data/processed/

# model outputs
/models/
!/models/.gitkeep

# logs
*.log

# vscode/env
.vscode/
.env
.ipynb_checkpoints
.DS_Store